.container {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 34px;
  padding-right: 0;
  background: #fff;
}